{% extends "_layouts/elementindex" %}
{% set title = "Audit Log"|t %}
{% set elementType = 'AuditLog' %}

{% block initCss %}
.daterange {
    margin-top: 5px;
}
.daterange th, .daterange td {
    padding: 0px 0px 5px 0px;
}
{% endblock %}
{% includeCss block('initCss') %}

{% block sidebar %}
    <div class="buttons first">
        <a class="btn submit" id="auditlog-download-csv" data-icon="download" href="javascript:void(0)">{{ "Download CSV"|t }}</a>
    </div>
    {{ parent() }}
    <nav>
        <ul>
            <li class="heading"><span>{{ "Date range"|t }}</span></li>
        </ul>
    </nav>
    <form method="post" accept-charset="utf-8">
        <input type="hidden" name="elementType" value="AuditLog">
        <table class="daterange">
            <tr>
                <th style="width: 40%;">{{ "From"|t }}</th>
                <td>
                    {% include '_includes/forms/date' with {
                        'id': 'auditlog-modified-from',
                        'value': now|date_modify('-7 days')
                    } %}
                </td>
            </tr>
            <tr>
                <th style="width: 40%;">{{ "To"|t }}</th>
                <td>
                    {% include '_includes/forms/date' with {
                        'id': 'auditlog-modified-to',
                        'value': now
                    } %}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block initJs %}
// Init with datepicker values
Craft.elementIndex = Craft.createElementIndex('AuditLog', $('#main'), {
	context:        'index',
	showStatusMenu: 'auto',
	showLocaleMenu: 'auto',
	storageKey:     'elementindex.AuditLog',
	criteria: {
	    from: {
	        date: $('#auditlog-modified-from-date').val()
	    },
	    to: {
	        date: $('#auditlog-modified-to-date').val()
	    }
	}
})

// Sort descending
Craft.elementIndex.setSelecetedSourceState('sort', 'desc');

// When downloading a csv
$('#auditlog-download-csv').click(function(e) {

    // Create a form on the fly
    var form = $(this).after('<form method="post">{{ getCsrfInput() }}<input type="hidden" name="action" value="auditLog/download"></form>').next('form');

    // Add controller data
    var params = decodeURIComponent($.param(Craft.elementIndex.getViewParams())).split('&');
    $.each(params, function(key, value) {
        $(form).append('<input type="hidden" name="' + value.split('=')[0] + '" value="' + value.split('=')[1] + '">');
    });

    // Submit the form and dissappear again
    $(form).submit().remove();

});

// When a datepicker changes
$(document).on('change', 'input.hasDatepicker', function() {

    // Get new criteria values
    Craft.elementIndex.settings.criteria = {
        from: {
            date: $('#auditlog-modified-from-date').val()
        },
        to: {
            date: $('#auditlog-modified-to-date').val()
        }
    };

    // Update elements
    Craft.elementIndex.updateElements();

});
{% endblock %}
